@charset "UTF-8"; 
@import "reset.scss"; 
@import "layout.scss"; 
@import "content.scss";  

/* Forms  */ 
input[type="text"], 
input[type="number"], 
input[type="email"], 
input[type="date"], 
input[type="text"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="password"], 
input[type="date"], 
input[type="file"] { height:40px; padding: 0 15px; font-size:15px; line-height: 40px; border: 1px solid #e5e5e5; } 
input[type="text"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="date"]:focus, 
input[type="text"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="time"]:focus, 
input[type="password"]:focus, 
input[type="date"]:focus, 
input[type="file"]:focus { border:1px solid #000; outline: 0;}
input[type="text"]:disabled, 
input[type="number"]:disabled, 
input[type="email"]:disabled, 
input[type="date"]:disabled, 
input[type="text"]:disabled, 
input[type="search"]:disabled, 
input[type="tel"]:disabled, 
input[type="time"]:disabled, 
input[type="password"]:disabled { border: 1px solid #e1e4e7; color:#bcbcbc; background: #f6f7fb; }
::placeholder { font-weight: normal !important ; color: #bcbcbc; }
:-ms-input-placeholder { font-weight: normal !important ; color: #bcbcbc; }
::-ms-input-placeholder  { font-weight: normal !important ; color: #bcbcbc;}
.input.right { text-align: right !important; }
.input.center { text-align: center !important; }
.input.big  { height:62px; padding: 0 20px; font-size:24px; line-height: 62px; border: 1px solid #eee; } 
.input.error  { border:1px solid #ea002c; } 
.input.error:focus  { border:1px solid #ea002c; } 

input[type=checkbox]{position:absolute; width:22px; height:22px; z-index: 1; }
input[type=checkbox]+.checkbox{ position:relative; display:inline-block; vertical-align: middle; padding:0 0 0 28px; margin: 0 10px 0 0; overflow:hidden; z-index: 2; }
input[type=checkbox]+.checkbox .icon{ display:inline-block; position:absolute; top:0; left:0; width:22px; height:22px; margin:0; border:1px solid #46465a; border-radius:0; background: #fff; z-index: 2;}
input[type=checkbox]:checked + .checkbox .icon { border:1px solid #46465a; background:#46465a /* url('../img/icon.png') */;background-size: 566px 912px; background-position: -21px -568px; z-index: 2;}  
input[type=checkbox]:disabled+.checkbox { color: #bbb} 
input[type=checkbox]:disabled+.checkbox .icon{ border:1px solid #c0c0c2;    } 
input[type=checkbox]:disabled:checked + .checkbox .icon { border:1px solid #c0c0c2; background:#eee /* url('../img/icon.png') */ ;background-size: 566px 912px; background-position: -21px -568px; z-index: 2; }  

input[type=radio]{position:absolute; width:19px; height:19px; margin:2px 0 0 2px; z-index: 1; }
input[type=radio]+.radio{ position:relative; display:inline-block;  vertical-align: middle; padding:0 0 0 29px; margin: 0 10px 0 0;overflow:hidden; z-index: 2; }
input[type=radio]+.radio .icon{ display:inline-block; position:absolute; top:-0; left:0; width:22px; height:22px; margin:0; border-radius: 50%; border:1px solid #000; background: #fff; z-index: 2;}
input[type=radio]:checked + .radio .icon { border:1px solid #ea002c; background:#fff /* url('../img/icon.png') */ ;background-size: 566px 912px; background-position: -402px -608px; z-index: 2;} 
input[type=radio]:disabled+.radio { color: #bbb} 
input[type=radio]:disabled+.radio .icon{ border:1px solid #c0c0c2;   } 
input[type=radio]:disabled:checked + .radio .icon { border:1px solid #c0c0c2; background:#eee /* url('../img/icon.png') */ ;background-size: 566px 912px; background-position: -402px -608px; z-index: 2;} 

.form-inline { display: inline-block; margin:0 10px 0 0;}

/* slider */
.vue-slider-dot-tooltip { 
  visibility: inherit !important;
}

/* sidebar menu */ 
.main-sidebar { position: absolute;top: 734px;width: 1236px;left: 50%;margin: 0 0 0 -620px; text-align: right;z-index: 3;  }
.main-sidebar.divFixed { position: fixed; top:70px;   }
.sub-sidebar { position: fixed; top:70px; width:52px; margin: 0 0 0 1267px; border-top:2px solid #ff7b00; text-align: center;  z-index: 8;   }
.sidebar-menu ul { display: inline-block; position: relative;  width:52px;  border:1px solid #000; border-top: 2px solid #ff7b00; text-align: center; background: #333333; }
.sidebar-menu ul li { height:68px; border-bottom:1px solid #545454; text-align: center; }
.sidebar-menu ul li.ico1 { background:url('../../assets/img/ico_question.png') center 10px no-repeat; }
.sidebar-menu ul li.ico2 { background:url('../../assets/img/ico_experiment.png') center 10px no-repeat; }
.sidebar-menu ul li.ico3 { background:url('../../assets/img/ico_search.png') center 10px no-repeat; }
.sidebar-menu ul li a { display: block; padding:40px 0 0; color:#fff; font-size:11px;  } 
.scroll-top button { width:42px; height: 42px; margin:10px 5px 0 0; border-radius: 50%; box-shadow: 0 0 5px #999;; font-size:0; opacity: 0; transition: all 0.4s ease-in; background:#ff7a01 url('../../assets/img/ico_top.png') center no-repeat; }
.scroll-top button.isVisible { opacity: 1;transition: all 0.4s ease-in-out; }

 


/* text */ 
.txt { font-size: $fs-default; }
.txt.big { font-size: $fs-big; }
.txt.small { font-size: $fs-small }
.txt.point { color: $fc-point; }
.txt.light { color: $fc-light}
.txt.white { color: $fc-white}
.txt.black { color: $fc-black}
.txt-input-error { display: inline-block; margin:0 0 0 10px; font-size:13px; color:#e23d60; }

/* button */
.wrap-btn { padding: 10px 0; text-align: center;} 
.wrap-btn.right { text-align: right ;} 
.btn { margin:0 3px; padding: 0 5px; height: 40px; font-size:20px; line-height: 1; border-radius: 5px;   } 
.btn.btn-point { border:1px solid #ea002c; color:#fff; background:#ea002c;  }  
.btn.small {margin:0 3px; padding: 2px 2px; height: 22px; border-radius: 3px;  } 
.btn.big { margin:0 3px; padding: 6px 10px; height: 60px; border-radius: 5px; }
 

/* title */
.title { width: 100%; margin:0 0 40px 0; }
.title h3 { font-size:$fs-big; color:#e23d60 ;}
.title p { margin:0 0 0 0 ;}
h4 { display: inline-block; margin:0 0 10px 0; text-decoration: underline; font-size:16px; font-weight: bold; color:#3e65d1;}
.stit { margin:0 0 10px 0; }

/* sticky menu */
.wrap-sticky { position: absolute; top:0; right:0; }
.sticky-menu { position: sticky; top:10px; right:0; width:100px; height:100px;   background:#bbb ;}

/* breadcrumb */
.breadcrumb { display: block; margin:0; padding:0;  text-align: right; background: #fff;}
.breadcrumb li { display: inline-block;  font-size:13px;   } 
.breadcrumb li a { color:#888888;  }
.breadcrumb li.active a { color:#333333; }
.breadcrumb li a:hover,
.breadcrumb li a:focus {  color:#333333;  }
.breadcrumb-item+.breadcrumb-item::before { 
  color: #888888;
  content: ">";
}

/* list-form */
.list-form { padding:0 0 20px 0; border-bottom: 1px solid #666; overflow:hidden ;}
.list-form dt { float:left; width:30%;height:40px; padding:0 0 10px 0; font-size: 14px;  font-family: 'NanumSquareB'; }
.list-form dd { float:left; width:70%;height:40px; padding:0 0 10px 0;   }

/* paging */ 
.wrap-paging { margin:10px 0 0 0; text-align: center;}
.wrap-paging li { display: inline-block; margin:0 3px; padding:3px ; border:1px solid #ccc }  
.wrap-paging li.active { color:red}

 


/* ipad */ 
@media screen 
and (min-width : 768px) 
and (max-width : 1024px)
and (orientation : portrait){     
  html { 
    zoom: 0.6; 
  } 
  .main-visual .slick-slide .txt-visual {  top:160px; left:60%; width:1100px; margin:0 0 0 -550px; zoom: 1.1; }
  .main-visual .slick-dots { position: absolute; top:450px; left:50%; width:1100px; height:10px; margin:0 0 0 -550px; text-align:right; z-index: 2;}
 

}
@media screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : landscape) {   
  html { 
    zoom: 0.8; 
  } 
  .main-visual .slick-slide .txt-visual {  top:160px; left:60%; width:1100px; margin:0 0 0 -550px; zoom: 1.1; }
  .main-visual .slick-dots { position: absolute; top:450px; left:50%; width:1100px; height:10px; margin:0 0 0 -550px; text-align:right; z-index: 2;}
 
}


/* Mobile */ 
@media screen 
and (min-width : 320px) 
and (max-width : 767px){     
    
body { min-width: 100%; }

.wrapper { width: 100%; min-width: 100%;}
.wrapper .inner { width:100%; }

.header { position: fixed; top:0; left:0; width:100%; height:60px; background: #fff; z-index:88; } 
.header .btn-hamburger { opacity: 1;height: 50px;
  width: 50px; 
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  cursor: pointer;  
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 9999; }

.header .btn-hamburger:active,
.header .btn-hamburger:focus { outline: 0;}


.header .btn-hamburger:hover { 
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
.header .btn-hamburger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 28px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #ff7a00;
    border-radius: 10px;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }
.header .btn-hamburger span:first-child {
    top: 17px;
  }
.header .btn-hamburger span:nth-child(2) {
    top: 25px;
  }
.header .btn-hamburger span:last-child {
    top: 33px;
  }
.header .btn-hamburger.on {
    top: 5px;
    right: 5px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
  }
.header .btn-hamburger.on span:first-child {
    top: 15px;
    -webkit-transform: translate(-14px, 10px) rotate(135deg);
            transform: translate(-14px, 10px) rotate(135deg);
  }
.header .btn-hamburger.on span:nth-child(2) {
    left: -20px;
    opacity: 0;
  }
.header .btn-hamburger.on span:last-child {
    top: 15px;
    -webkit-transform: translate(-14px, 10px) rotate(-135deg);
            transform: translate(-14px, 10px) rotate(-135deg);
  }



.header .logo { position: absolute; top:12px; left:10px; width:130px; height:60px; overflow: hidden; z-index: 99;   }
.header .nav { position: absolute; top:60px;  right:-850px; overflow:visible; width:100%; height:100vh; max-height: 100vh; overflow-y:auto; transition: max-height 0.5s cubic-bezier(0, 1, 0, 1); background: #000; z-index: 99;}
.header .nav.mobileNav { right:0; width:100%; transition: all 0.2s ease-in; }
.header .nav.on { max-height: 700px; border-bottom:1px solid #e2e2e2; transition: max-height 0.3s cubic-bezier(1, 1, 1, 0) ; }
.header .nav .top-bg { display: none;;}
.header .nav .depth1 { display: block; width:100%; padding:0 0 0 0; text-align: center;; overflow:visible;   }
.header .nav .depth1 li { position:relative; display:block; height:auto; margin:0 0 0 0; font-size:16px; text-align: center; background:inherit; }
.header .nav .depth1 li:last-child { background: none;;}
.header .nav .depth1 li a { position: initial; top:0; left:0; display:block; width:100%; height:30px; line-height: 30px; color:#fff; font-weight:bold; font-size: 14px; background:#555; }
.header .nav .depth1 li span { position:relative; display: block; height:30px; line-height: 30px; }
.header .nav .depth1 li em { display: inline-block; }
.header .nav .depth1 li span::after {  display: none;; }
.header .nav .depth1 li:hover a span { color:#ff7a00; } // hover on 
.header .nav .depth1 li:hover span::after { left:0; width:100%;  margin:0 ;  background: #ff7a00; }
.header .nav .depth1 li a.active span, 
.header .nav .depth1 li a.router-link-active  { color:#ff7a00} // keep on  
.header .nav .depth2 { display:block; width:100%; height: auto; margin:0 0 0 0; padding:2px 0 ; overflow:hidden;   }
.header .nav .depth2 li { display: block; width:100%; margin:0; padding:5px 10px; border-bottom:1px solid #555;  font-size:14px; } 
.header .nav .depth2 li:last-child {background: none;} 
.header .nav .depth2 li a { position: inherit; display: block; height:20px; padding:5px 0; color:#666666; line-height: 1.2; border: 0; background: none;; }  
.header .nav .depth2 li a:hover { color:#333333}
.header .nav .depth2 li a.router-link-exact-active { color:#333333;}  
.header .nav .depth2.sm2 li a { position: inherit; height:auto; padding:2px 0 0 0; color:#666666; line-height: 1.2; border: 0; background: none;; }   
.header .util-menu { position: absolute; top:0; right:60px; width:auto; height:60px; padding:0 0 30px; z-index: 99;  }
.header .util-menu li { display: inline-block; padding:0 0; font-size: 13px; line-height:60px; color: #888; vertical-align: top;;  }
.header .util-menu li:first-child { display: none;;}
.header .util-menu li:nth-child(2) { display: none;;}
.header .util-menu li.vrnd  { display: none;; } 
.header .util-menu li::after { display: inline-block; content: '|'; margin:0 7px; font-size:10px; }
.header .util-menu li:last-child::after { display: none; }
.header .gnb-alarm { display: none; }




.content {
  padding: 60px 0 30px 0; 
}

.main .inner { width:100%; padding:0 10px;} 

.main-visual { height:180px; margin:0 0 10px 0; overflow: visible;; }  
.main-visual .slick-prev {  zoom:0.4; top:200px; left:10px; width:48px; height:54px; font-size:0; }
.main-visual .slick-next { zoom:0.4;top:200px; right:10px;  width:48px; height:54px; font-size:0; ;}
.main-visual .slick-dots {top: 220px;left: inherit;right: inherit;width: 100%;margin: 0;text-align: center;zoom: 0.7;}
.main-visual .slick-dots li button { width:9px;height: 9px;margin: 0 5px;  }  
.main-visual .slick-slide img { width:auto !important; height: 180px !important; min-height:180px; min-width:100%; }
.main-visual .slick-slide .txt-visual { zoom: 0.7; position: absolute; top:35px; left:40px; margin:0 ; }
.main-visual .slick-slide .txt-visual em { margin:0 0 10px 0; font-size:20px; }
.main-visual .slick-slide .txt-visual p { font-size:30px; }
.main-visual .slick-slide .txt-visual span { font-size:16px; }
.main-visual .slick-slide .txt-visual button { zoom: 0.8; width: 176px; height: 48px; margin:30px 0 0 0; font-size: 18px; line-height: 48px; }
  
.main-card {height: 110px;margin: 0 0 25px 0;}
.main-card .inner { position: relative; width:100%; z-index: 5;} 
.main-card .inner:after { display: none; }  // hide right space 
.main-card .slick-prev { zoom:0.5; position: absolute;  top:95px; left:0; z-index: 2; width:48px; height:54px; font-size:0; background:url('../../assets/img/btn_carousel_prev.png') no-repeat center}
.main-card .slick-next {  zoom:0.5; top:95px; right: 4px;}
.main-card .slick-slider {  height : 105px; }
.main-card .slick-slide { position: relative;  padding:10px 0;} 
.main-card .slick-slide img { width:110px !important; height: 105px !important;  } 
.main-card .slick-slide .txt-visual a { display: block; position: absolute; top:10px; left:0; width:105px;  height: 105px; z-index: 9;  }
.main-card .slick-slide .txt-visual a:hover {  display: none  ; box-shadow: 0px 0px 10px 0px #999;}
.main-card .slick-slide .txt-visual em {  position: absolute; top:8px; left:8px; display: block; margin:0 0 0 0; font-size:13px; line-height: 1.2; font-weight: bold; color:#fff;word-break: break-all; }
.main-card .slick-slide .txt-visual p { display:none  }
.main-card .slick-slide .txt-visual .ico { display:none; }
.main-card .slick-slide .txt-visual button { position: absolute; top:80px; left:10px; width: auto; height: auto; margin:0 0 0 0; font-size: 12px; font-weight:bold; line-height: 1.2; border-bottom:1px solid #fff; text-align: left;  color:#fff; background:url('../../assets/img/ico_arrow.png') no-repeat right center;  }
.main-card .slick-slide .txt-visual .overlay {  display: none ;  }
.main-card .slick-slide .txt-visual:hover .overlay { display: none   }
.main-card .slick-slide .txt-visual:hover p {  display: none  }
.main-card .slick-slide .txt-visual:hover .ico {   display: none  }



.main-banner { height:100px; margin:0 0 30px 0; overflow: hidden; }
.main-banner .inner { position: relative; width:100%; z-index: 5;} 
.main-banner .inner:after { display: none; }  // hide right space 
.main-banner .slick-prev { zoom:0.5; position: absolute;  top:75px; left:0; z-index: 2; width:48px; height:54px; font-size:0; background:url('../../assets/img/btn_carousel_prev.png') no-repeat center}
.main-banner .slick-next {  zoom:0.5; top:75px; right: 4px;}
.main-banner .slick-slide { position: relative; overflow: hidden; } 
.main-banner .slick-slide img { width:100% !important; height: 100px !important;  }
.main-banner .slick-slide .txt-visual { text-align: left;   }
.main-banner .slick-slide .txt-visual a { display: block; position: absolute; top:0; left:0; width:100%; height: 100px; z-index: 3;}
.main-banner .slick-slide .txt-visual p { position: absolute; top:55px; left:30px; font-size:12px; color:#fff;}
.main-banner .slick-slide .txt-visual button { position: absolute; top:35px; left:860px; width: 176px; height: 48px; margin:50px 0 0 0; font-size: 14px; line-height: 48px; border:1px solid #fff; text-align: center; color:#fff; ; }
.main-banner .slick-dots {top: 100px;left: inherit;right: inherit;width: 100%;margin: 0;text-align: center;zoom: 0.7;}
.main-banner .slick-dots li { display: inline-block;}
.main-banner .slick-dots li button { width:9px;height: 9px;margin: 0 5px; display: block; font-size:0; border-radius:50%; background: #f8f8f8; opacity: 0.5;;}
.main-banner .slick-dots li.slick-active button { background: #ff7a00; }



.main-sidebar { display: none;;}
    
.sitemap { display: none;;}

.footer { zoom:0.65; position: relative;height: auto;  color:#888888;text-align: left;;font-size:12px;background: #222;}
.footer a { color: #888888;;}
.footer a:hover { color: #cccccc !important;}
.footer .left { font-family: Dotum; padding:20px 20px 20px 140px ;  }
.footer .footer-logo { top:20px; left:20px; }
.footer .footer-menu { position: initial; top:125px; left:0; }
.footer address { position: initial; top:157px; left:0; }
.footer .copyright { position: initial; top:220px; left:0; color:#555555; }
.footer .sitemap { position: initial; top:70px; right:0; }
.footer .sitemap li { display: inline-block; padding:0 18px; vertical-align: top; }
.footer .sitemap li a { display: block;  margin:0 0 10px 0; color:#fff; font-size: 16px; ;}
.footer .sitemap li li { display: block; padding:0;   }
.footer .sitemap li li a { margin:0 0 8px 0; color:#888; font-size: 14px; ;}


} 

