/* 레이아웃 */
.wrapper {width: 100%; min-width: 1280px;}
.wrapper .inner { position: relative; width:1240px; margin: 0 auto;   }
.header { position: fixed; top:0; left:0; width:100%; height:60px; background: #fff; z-index:88; }
.header .skip-nav {position:absolute;left:0;top:0;z-index:999;width:100%;}
.header .skip-nav a {position:absolute;left:0;top:-1000em;display:block;height:20px;width:100%;white-space:nowrap;text-align:center;font-size:12px;color:#fff;text-decoration:none;background-color:black;}
.header .skip-nav a:hover,
.header .skip-nav a:focus,
.header .skip-nav a:active{position:absolute;left:0;top:0;}
.header .logo { position: absolute; top:12px; left:0; width:130px; height:60px; overflow: hidden; z-index: 99;   }
.header .logo a { display:block; }
.header .nav { position:relative; overflow: hidden;  max-height: 61px;  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1); background: #f8f8f8 url('../../assets/img/bg_dot.png') repeat-x left 60px ;}
.header .nav.on { max-height: 700px; border-bottom:1px solid #e2e2e2; transition: max-height 0.3s cubic-bezier(1, 1, 1, 0);; }
.header .nav .top-bg { position: absolute;lefT: 0;top: 0;width: 100%;height: 60px;background: white; }
.header .nav .depth1 { display: table; width:900px; padding:0 0 0 120px; text-align: center;; overflow:hidden;   }
.header .nav .depth1 li { position:relative; display:table-cell; height:100%;  vertical-align: top; font-size:16px; text-align: center; background:url('../../assets/img/bg_dot.png') repeat-y left; }
.header .nav .depth1 li:last-child { background:url('../../assets/img/bg_dot.png') repeat-y left, url('../../assets/img/bg_dot.png') repeat-y right }
.header .nav .depth1 li a { position: absolute; top:0; left:0; display:block; width:100%; height:60px;  line-height: 60px; color:#333; font-weight:bold;  background:#fff; }
.header .nav .depth1 li span { display: block; height:60px; line-height: 60px;  }
.header .nav .depth1 li:hover a span { color:#ff7a00;} // hover on 
.header .nav .depth1 li:hover a span { border-bottom:2px solid #ff7a00;} // hover on 
.header .nav .depth1 li a.active span { color:#ff7a00} // keep on  
.header .nav .depth2 { display:block; width:100%; height: auto; margin:60px 0 0 0; padding:10px 0 20px 0; overflow:hidden;   }
.header .nav .depth2 li { display: block; width:100%; margin:0; padding:5px 10px;   font-size:14px; } 
.header .nav .depth2 li:last-child {background: none;} 
.header .nav .depth2 li a { position: inherit; height:30px; padding:10px 0 0 0; color:#666666; line-height: 1.2; border: 0; background: none;; }  
.header .nav .depth2 li a:hover { color:#333333}
.header .nav .depth2 li a.router-link-exact-active { color:#333333;}  
.header .nav .depth2.sm2 li a { position: inherit; height:auto; padding:10px 0 0 0; color:#666666; line-height: 1.2; border: 0; background: none;; }  
.header .util-menu { position: absolute; top:0; right:0; width:auto; height:60px; padding:0 0 30px; z-index: 99;  }
.header .util-menu li { display: inline-block; padding:0 0; font-size: 13px; line-height:60px; color: #888; vertical-align: top;;  }
.header .util-menu li a {color:#888  }
.header .util-menu li.vrnd  { margin:0 20px 0 0; }
.header .util-menu li.vrnd a { color: #ff7a00; font-size:16px; font-family: $ff-bold; }
.header .util-menu li.vrnd img { margin:0 0 0 2px; vertical-align: middle;;}
.header .util-menu li.vrnd::after { display: none; }
.header .util-menu li::after { display: inline-block; content: '|'; margin:0 7px; font-size:10px; }
.header .util-menu li:last-child::after { display: none; }
.header .gnb-alarm { position: relative; display: inline-block;; }
.header .gnb-alarm button { position: relative; width:40px; height:60px; font-size:0; border: 0; outline: 0; text-indent: -999px; background:#fff url('../../assets/img/ico_mypage.png') center no-repeat; }
.header .gnb-alarm button.on::before { display: block; content:''; position: absolute; top:34px; right:8px; width:10px; height:10px;  background:#fff url('../../assets/img/ico-alarm.png') center no-repeat; z-index: 99;  }
.header .gnb-alarm .wrap-alarm { display: none; position: absolute;top: 60px;right:-40px; width:320px; height:280px;padding:20px 0; line-height: 1.2;; border:1px solid #e2e2e2; border-top:1px solid #ff7a00; background: #fff;;   }
.header .gnb-alarm .wrap-alarm.open { display: block; }
.header .gnb-alarm .wrap-alarm p { margin:0 0 20px 0; padding:0 20px; font-size:14px; font-family: $ff-bold; color:#333; }
.header .gnb-alarm .wrap-alarm p strong { color:#ff7a00; }
.header .gnb-alarm .wrap-alarm ul { height:215px; margin:0 5px; padding:0 15px; line-height: 1.2 !important; overflow-x: hidden; overflow-y: auto; }
.header .gnb-alarm .wrap-alarm ul li { margin:0 0 15px 0; font-size:14px;  color: #666; line-height: 1.4; }
.header .gnb-alarm .wrap-alarm ul li::after{ display: none;}
.header .gnb-alarm .wrap-alarm ul li .date { display: block; margin:0 0 2px 0; color: #888;}
.header .gnb-alarm .wrap-alarm ul li em { color: #666;}

.content {
	padding:  60px 0 80px 0;
	position: relative;  
}

 
 
.footer {
	position: relative;
	height: 314px;
	color:#888888;
	text-align: left;;
	font-size:12px;
	background: #222;
}
.footer a { color: #888888;;}
.footer a:hover { color: #cccccc !important;}
.footer .left { font-family: Dotum;}
.footer .footer-logo { position: absolute; top:45px; left:0; }
.footer .footer-menu { position: absolute; top:125px; left:0; }
.footer address { position: absolute; top:157px; left:0; }
.footer .copyright { position: absolute; top:220px; left:0; color:#555555; }
.footer .sitemap { position: absolute; top:70px; right:0; }
.footer .sitemap li { display: inline-block; padding:0 18px; vertical-align: top; }
.footer .sitemap li a { display: block;  margin:0 0 10px 0; color:#fff; font-size: 16px; ;}
.footer .sitemap li li { display: block; padding:0;   }
.footer .sitemap li li a { margin:0 0 8px 0; color:#888; font-size: 14px; ;}
